<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>camertronix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<main>
    {% include "navbar.html" %}
</main>
<body>

    <div class="card-container">
        <div class="card">
            <img src="{{url_for('static', filename='4_christmas_Mesa_de_trabajo_1.jpg')}}">
            <div class="card-content">
                <h2>Card 1</h2>
                <p>je pars souvent en balade avec des amis</p>
            </div>
        </div>
    
        <div class="card">
            <img src="{{url_for('static', filename='tof.jpeg')}}">
            <div class="card-content">
                <h2>Card 2</h2>
                <p>je pars souvent en balade avec des amis</p>
            </div>
        </div>
    
        <div class="card">
            <img src="{{url_for('static', filename='photo.jpg')}}">
            <div class="card-content">
                <h2>Card 3</h2>
                <p>je pars souvent en balade avec des amis</p>
            </div>
        </div>

        <div class="card">
            <img src="{{url_for('static', filename='photo2.jpg')}}">
            <div class="card-content">
                <h2>Card 4</h2>
                <p>je pars souvent en balade avec des amis</p>
            </div>
        </div>
    </div>

    <footer>
        <nav>
            <div class="table1">
                <ul>
                    <li class="menu-tem">
                        <a href="temis.html">Temis ot privacy policy</a>
                    </li>
                    <li class="menu-sup">
                        <a href="support.html">Support</a>
                    </li>
                    <li class="menu-pub">
                        <a href="public.html">Publics yain coupon</a>
                    </li>
                    <li class="menu-cmr">
                        <a href="camertronix.html">(e) 2024 Camertronix</a>
                    </li>
                </ul>
            </div>
        </nav>
    </footer>
</body>
</html>