<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <main>
        {% include "navbar.html" %}
    </main>
    <body>

        <section class="rouge">
            <h1>Contactez-nous</h1>
            <div class="sec">
                <p>N'hésiter pas a me conctater a l'addresse suivant: <a href="mon mail"><strong>arnoldkaptchouang2017@gmail.com</strong></a></p>
                <P>Téléphone: <a href=""><strong>+237 695229526</strong></a></P>
                <p>Whatsapp: <a href=""><strong>+237 681546926</strong></a></p>
                <p>je vous repondrai dans les meilleurs délais</p>
            </div>
        </section>
        <footer>
            <nav>
                <div class="table1">
                    <ul>
                        <li class="menu-tem">
                            <a href="temis.html">Temis ot privacy policy</a>
                        </li>
                        <li class="menu-sup">
                            <a href="support.html">Support</a>
                        </li>
                        <li class="menu-pub">
                            <a href="public.html">Publics yain coupon</a>
                        </li>
                        <li class="menu-cmr">
                            <a href="camertronix.html">(e) 2024 Camertronix</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </footer>
    </body>
</html>