<nav>
    <div class="table1">
        <ul>
            <li class="menu-tem">
                <a href="temis.html">Temis ot privacy policy</a>
            </li>
            <li class="menu-sup">
                <a href="support.html">Support</a>
            </li>
            <li class="menu-pub">
                <a href="public.html">Publics yain coupon</a>
            </li>
            <li class="menu-cmr">
                <a href="camertronix.html">(e) 2024 Camertronix</a>
            </li>
        </ul>
    </div>
</nav>