
<nav>
    <label class="logo"><a href="{{url_for('index')}}">Camertronix</a></label>
    <ul>
        <li class="menu-ind"><a href="{{url_for('tools')}}">tools</a></li>
        <li class="menu-art"><a href="{{url_for('article')}}">Articles</a></li>
        <li class="menu-tut"><a href="{{url_for('tutorial')}}">Tutorials</a></li>
        <li class="menu-abo"><a href="{{url_for('about')}}">Abouts</a></li>
        <li class="menu-con"><a href="{{url_for('contact')}}">Contacts</a></li>
    </ul>
</nav>

